@font-face {
    font-family: "Jura";
    src: url("../../images/fonts/Jura-VariableFont_wght.ttf");
    font-weight: bold;
  }

  .ProjectNames {
    margin:0;
    padding:0;
    margin-top:1.5vw;
    margin-bottom: 1.5vw;
    font-size: 2vw;
    font-weight: bold;
    color:#02c8f0;
    width: 100%;
    text-align: center;

  }
  #appDiv{
    background-image: url("../../images/visualBasicLogo.png");
    background-size: 25vw;
    background-position: 84% 124%;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    font-family: "Jura";
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ProjectText {
    color: #01133f;
    font-size: 1.5vw;
    width:50%;
    margin-bottom: 1.5vw;
  }
  #projectImage {
    margin-bottom:2vw;
    max-width: 100%;
    height: auto;
  }
  
  .bigPicture {
    height:1vw;
  }

  
.Collapsible {
  
    display:flex;
    
  }
  .Collapsible__trigger {
    font-family: "Jura";

    background-color: #01133f48;
    text-align: center;
    margin-right: 2vw;
    margin-bottom: 1vw;
    padding:2px;
    font-size: 1.2vw;
    border-radius: 8px;
    
  }
  
  .Collapsible__contentInner {
    width:60%;
    margin: 0 auto;
    float:left;
  
  }
  .Collapsible__contentOuter {
    margin:0;
    padding:0;
  }
  
  
  #codeBlock {
    font-family: "Jura";
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    font-size: 1.2vw;
  }
  code {font-size: 1.2vw;}
  #arranger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
  }