@font-face {
    font-family: "Jura";
    src: url("../../images/fonts/Jura-VariableFont_wght.ttf");
    font-weight: bold;
  }

  #JSDiv {
    background-image: url("../../images/phpLogo.png");
    background-size: 25vw;
    background-position: 84% 124%;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    font-family: "Jura";
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }