@font-face {
    font-family: "plex";
    src: url("./font/IBMPlexSerif-Regular.ttf");
    font-weight: bold;
  }

html {
    background-color: #f8f8ff;
    scroll-behavior: smooth;
    font-size: 2vw;
  }
  #smallText {
    font-size: 1vw;
  }
  li {
    list-style: none;
    margin: 1.5vw;
    font-size: 3vw;
}
.navLink {
    list-style: none;
    background-color: bisque;
    border-radius: 2vw;
    
    padding: 1vw;
}
a {
    text-decoration: none;
    color:darkgoldenrod;
    
}

::selection {
    background:white;
  }


h1{
    text-align: center;
    text-decoration: underline;
    font-size: 4vw !important;
}
h2{
    text-decoration: underline;
    margin-left: 20px;
    font-size: 2vw;
}
p{
    font-size: 2.5vw;
    line-height: 2.2vw;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

