.App {
  Display:flex;
  flex-direction: column;
  justify-content: center;
}
@font-face {
  font-family: "TTChocolatesRegular";
  src: url("./images/TTChocolates-Regular.otf");
  font-weight: bold;
}
::selection {
  background: #021442;
  color:#02c8f0;
}
html {
  background-color: #f8f8ff;
  scroll-behavior: smooth;
}

body{
 margin:0; 
}
a {
  color:inherit;
  text-decoration: none;
}
a:link {
  color:white;
}
a:visited {
  color:white;
}
a:hover {
  color: #02c8f07b;
}
a:active {
  color: #02c8f0;
}
#logo {
  width:100vw;
  background-color: #01133f;
  margin: 0 auto;
  text-align: center;
}
#navbar {
  position:fixed;
  top:0;
  background-color: #01133f;
  color:white;
  list-style: none;
  font-family: "TTChocolatesRegular";
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  font-size: 2vw;
  width:100%;
}
li {
  display:inline-block;
  margin-left: 1vw;
  margin-bottom: 20px;
  margin-right: 1vw;
  padding: 0 40px 5px 40px;
}
li:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.263), rgba(255, 255, 255, 0.08));
  color:#02c8f0;
  border-radius: 5px;
}
#aboutDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-bottom: 120px;
}
#aboutText {
  font-size: 1.5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  float:right;
  font-family: "TTChocolatesRegular";
  color: #01133f;
  background:none;
}
#questionMarkImg {
  display: inline-block;
  margin-left: 100px;
  width:30vw;
}


#cSharplogo {
  display:inline;
}
#cSharpProjectDiv {
  margin:0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#cSharpDiv {
  background-image: url("./images/cSharpLogoTrans.png");
  background-size: 25vw;
  background-position: center;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat;

}
.videos {
  width:50vw;
  margin-bottom: 20px;
  border-radius: 14px;
  box-shadow: 14px 14px 10px rgba(0, 0, 0, 0.326);
}
.cSharpProjectNames {
  margin:0;
  padding:0;
  font-size: 1.5vw;
  font-weight: bold;
  color:#02c8f0;
  width: 100%;
  text-align: center;
}
.cSharpProjectText {
  color: #01133f;
  font-size: 1.5vw;
  width:50%;
}


#cPlusPlusDiv {
  background-image: url("./images/cPlusPlusLogo.png");
  background-size: 25vw;
  background-position: center;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat;

  margin:0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#otherDiv {
  margin:0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#contactDiv {
  margin:0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h3{
  color:#01133f;
  text-align: center;
}
label{
  color:#01133f;
  margin-right: 1vw;
  font-size: 1.5vw;
  text-align: left;
}
#level{
  height:5vw;
}
input, textarea {
  margin-top: .5vw;
  margin-bottom: 2.5vw;
}
input[type="text"], input[type="email"], textarea{
    border-radius: 2px;
    border-color: #01133f;
    box-shadow: 1px 1px 5px #01133f;
    width:37vw;
    font-size: 1.5vw;
}
input[type="submit"] {
  font-size: 1vw;
  font-family: "TTChocolatesRegular";
  background-color:#01133f;
  color:white;
  font-weight: bold;
  border-radius: 12px;
  clear:both;
  margin-top:1vw;
  width:6vw;
  height:2vw;
}
footer {
  background-color: #01133f;
  width: 100%;
  height: 200px;
}

