/* Ch 6 Mardi Gras Solution-nav left */
html {
	background-image: url("../images/confetti.gif");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1,h2,h3,h4,h5,h6{
	font-family:Georgia, "Times New Roman", Times, serif;
	}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
a {
	font-weight: bold;
	color: green;
}
a:link, a:visited { 
    color: green; 
}
a:hover, a:focus { 
    color: orange;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, #9B3891 80%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, #9B3891 80%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, #9B3891 80%, black 100%);
    background-image: linear-gradient(45deg, white 0%, #9B3891 80%, black 100%);
    padding: 15px; 
	padding-bottom:45px;
    border-bottom: 2px solid black; 
} 
header img { 
	float: left; 
	padding-right: 15px;  
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 125%;
}

/* Sidebar */
nav {
	float: left; 
	width: 180px;
	padding: 20px 0;
}
nav ul {
	line-height: 1.5;
}
 
/* Section */
section {
	width: 560px;
	float: right;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, #9B3891 20%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, #9B3891 20%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, #9B3891 20%, white 100%);
    background-image: linear-gradient(45deg, black 0%, #9B3891 20%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}
main{
	float:right;
}

li:hover{
	background-color: grey;
}
.side{
	float: left;
}
.side a{
	padding: 5px 40px 5px 5px;	
	width: 67%;
	text-decoration: none;
	color: black;
	display: inline-block;	
}

.side ul{
	list-style-type: none;
	margin: 20px 15px 20px 0px;
	padding: 10px;
}
.side li{	
	margin: 5px;
	padding: 0;
	background-color:#D6AED2;
	border: 2px solid black;
}
.top{
	text-align: center;	
	background-color:black;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}
.top ul{	
list-style-type: none;
margin: 10px 25px 10px 25px;
padding: 0;
}
.top ul ul{
	position: absolute;
	top: 100%;
	display: none;
}
.top a{	
	width: 100%;
	color: white;
	text-decoration: none;
}
.top li:hover > ul{
	display: block;
}
.top ul li{
	margin: 0px 25px 0px 10px;
	display: inline-block;
	position: relative;
}
.top ul li ul{
	position: absolute;
	top: 60%;
	right: 10%;
	padding: 0;
}
.top ul li ul li{
	width: 49%;
	margin: 0;
	display: inline-block;
	position: relative;
	
}
.top ul li ul li a{
	
	display: block;
	background-color: black;
	padding: 15px 40px 15px 40px;
	
}
.top ul li ul li a:hover{
	background-color: grey;
}
#current{
	color: #D6AED2;
}